extends ../layouts/main

block content
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia suscipit cupiditate ipsum rerum, asperiores, saepe, nulla, quibusdam veniam molestias iure dolorem. Aliquid dolorum sint iusto, cumque aut deserunt, facere assumenda!
