.sidebar.sidebar-main
  .sidebar-content
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore corporis, molestias qui libero explicabo voluptates, rerum modi quae, numquam eos ipsa nemo asperiores animi consectetur magnam porro velit tempora enim.
